services/web/sessions/*

web_old/Web.pidb

web_old/CloudSidekick.userprefs

web_old/bin/Web.dll

web_old/bin/Web.dll.mdb

conf/cato.conf

web_old/conf

web_old/config.log

web_old/obj/Debug/Web.dll.mdb

web_old/obj/Debug/Web.dll

web_old/obj/Debug/Web.csproj.FilesWrittenAbsolute.txt

web_old/Web.userprefs

web_old/bin/mysql.data.dll

web_old/bin/ICSharpCode.SharpZipLib.dll

web/temp/*

web_old/obj/*

services/python/*

*.pyc

*.so

*.swp

*.egg-info

*.o

logfiles/*

services/mystart

services/web/convert.in

services/web/convert.out

services/web/test.py

logfiles/admin_ui.log

web/sessions/2dd74a02a2a3c6b9dce890b02f7515766a3a520c
