#action_add
{
	width: 100%;
	vertical-align: middle;
	margin: 4px 0px 4px 0px;
	padding: 4px;
}

.ecosystem_name {
	padding: 2px;
}

.ecosystem_name img {
	height: 16px;
	width: 16px;
}

.action_icon {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.action_picker_icon {
	margin: 3px;
	padding: 1px;
	border-radius: 4px;
	border: solid 1px #a6c9e2;
	height: 32px;
	width: 32px;
	cursor: pointer;
}
.action_picker_icon:hover {
	border: solid 3px #fad42e;
	margin: 1px;
}
.action_picker_icon_selected {
	border: solid 3px #e9c31d;
	margin: 1px;
}