$def with ()
$var jsfiles: managePageCommon.js ecosystemManage.js
$var cssfiles:

<div style="display: none;">
    <input id="hidMode" type="hidden" name="hidMode" />
    <input id="hidEditCount" type="hidden" name="hidEditCount" />
    <input id="hidCurrentEditID" type="hidden" name="hidCurrentEditID" />
    <input id="hidSelectedArray" type="hidden" name="hidSelectedArray" />
</div>
<div id="left_panel">
    <div class="left_tooltip">
        <img src="static/images/icons/ecosystems_128.png" alt="" />
        <div id="left_tooltip_box_outer">
            <div id="left_tooltip_box_inner">
                <h2>Ecosystems</h2>
                <p>
                    The Manage Ecosystems screen allows administrators
                    to modify, add and delete Ecosystems.
                </p>
                <p>
                    Select one or more Ecosystems from the list, using the checkboxes.
                    Select an action to modify or delete the Ecosystems you've selected.
                </p>
                <p>
                    <a href="http://projects.cloudsidekick.com/projects/cato/wiki/Ecosystems?utm_source=cato_app&amp;utm_medium=helplink&amp;utm_campaign=app" target="_blank"><span class="ui-icon ui-icon-info forceinline"></span>Click here</a>
                    for a more detailed introduction to Ecosystems.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <span id="lblItemsSelected">0</span> Items Selected <span id="clear_selected_btn"></span><span
    id="item_create_btn">Create</span><span id="item_delete_btn">Delete</span>
    <input type="text" id="txtSearch" class="search_text" />
    <span id="item_search_btn">Search</span>
    <table class="jtable" cellspacing="1" cellpadding="1" width="99%">
        <thead>
            <tr>
                <th class="chkboxcolumn">
                <input class="chkbox" type="checkbox" id="chkAll" />
                </th>
                <th sortcolumn="ecosystem_name" width="200px"> Name </th>
                <th sortcolumn="template_name" width="200px"> Template </th>
                <th sortcolumn="ecosystem_desc" width="200px"> Description </th>
                <th sortcolumn="created_dt"> Created </th>
                <th sortcolumn="last_update_dt"> Last Update </th>
                <th sortcolumn="num_objects"> Cloud Items </th>
            </tr>
        </thead>
        <tbody id="ecosystems"></tbody>
    </table>
</div>
<div id="edit_dialog" class="hidden" title="New Ecosystem">
    <table width="100%">
        <tbody>
            <tr>
                <td colspan="2"><span id="lblNewMessage"></span></td>
            </tr>
            <tr>
                <td> Name </td>
                <td>
                <input type="text" id="new_ecosystem_name" class="w300px" />
                </td>
            </tr>
            <tr>
                <td> Description </td>
                <td>                <textarea id="new_ecosystem_desc" rows="3"></textarea></td>
            </tr>
            <tr>
                <td> Serviced by Template </td>
                <td><select id="ddlEcotemplates"></select></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="delete_dialog" class="hidden" title="Delete Ecosystems">
    Are you sure you want to delete these Ecosystems?
    <br />
    <br />
    Deleting an Ecosystem will cancel all associated future Action Plans.
    <br />
    <br />
    This cannot be undone.
</div>
