$def with ()
$var jsfiles: home.js
$var cssfiles:

<style type="text/css">
	#getting_started {
		padding:20px;
		width:500px;
		margin-left:auto;
		margin-right:auto;
	}
</style>
<div id="fullwidthcontent">
    <div id="pnlGettingStarted">
        <div id="getting_started" class="ui-widget-content ui-corner-all">
            <h1>Welcome to Cloud Sidekick Cato!</h1>
            <p>
                There are just a few more things you need to do to get started.
            </p>
            <div id="getting_started_items"></div>
        </div>
    </div>
</div>
