$def with ()
$var jsfiles: managePageCommon.js ecoTemplateManage.js stormEcotemplateManage.js storm.js jsonlint/c/js/json2.js jsonlint/c/js/jsl.parser.js jsonlint/c/js/jsl.format.js jsonlint/c/js/jsl.interactions.js
$var cssfiles:

<div style="display: none;">
    <input id="hidMode" type="hidden" name="hidMode" />
    <input id="hidEditCount" type="hidden" name="hidEditCount" />
    <input id="hidCurrentEditID" type="hidden" name="hidCurrentEditID" />
    <input id="hidSelectedArray" type="hidden" name="hidSelectedArray" />
</div>
<div id="left_panel">
    <div class="left_tooltip">
        <img src="static/images/icons/ecotemplates_128.png" alt="" />
        <div id="left_tooltip_box_outer">
            <div id="left_tooltip_box_inner">
                <h2>Ecotemplates</h2>
                <p>
                    The Manage Ecosystem Templates screen allows
                    administrators to modify, add and delete Templates for Ecosystems.</p>
                <p>
                    Select one or more Templates from the list to the right, using the checkboxes. Select
                    an action to modify or delete the Templates you've selected.</p>
                <p>
                    Templates cannot be deleted if they are referenced by any Ecosystems.</p>
                <p><a href="http://projects.cloudsidekick.com/projects/cato/wiki/Ecosystems?utm_source=cato_app&amp;utm_medium=helplink&amp;utm_campaign=app" target="_blank"><img src="../images/icons/info.png" alt="" />Click here</a>
                    for a more detailed introduction to Ecosystem Templates.</p>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <span id="lblItemsSelected">0</span> Items Selected <span id="clear_selected_btn"></span><span 
		id="item_create_btn">Create</span><span id="item_copy_btn">Copy</span><span 
		id="item_export_btn">Export</span><span id="item_delete_btn">Delete</span>
    <input type="text" id="txtSearch" class="search_text" />
    <span id="item_search_btn">Search</span>
    <table class="jtable" cellspacing="1" cellpadding="1" width="99%">
		<thead>
	        <tr>
	            <th class="chkboxcolumn">
	                <input class="chkbox" type="checkbox" id="chkAll" />
	            </th>
	            <th sortcolumn="task_name" width="200px">
	                Task Name
	            </th>
	            <th sortcolumn="task_desc" width="400px">
	                Description
	            </th>
	        </tr>
		</thead>
		<tbody id="ecotemplates"></tbody>
    </table>
</div>
<div id="edit_dialog" class="hidden" title="New Ecosystem Template">
    <table width="100%">
        <tbody>
            <tr>
                <td colspan="2">
                    <span id="lblNewMessage"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" id="txtTemplateName" class="w400px">
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    <textarea id="txtTemplateDesc" class="w400px" rows="3"></textarea>
                </td>
            </tr>
            <tr class="storm">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr class="storm">
                <td>
                    <img src="static/images/icons/storm_32.png" />
                </td>
                <td style="vertical-align: middle;">
                    <input id="use_storm_btn" type="checkbox" /><label for="use_storm_btn">Provision with Storm?</label>
                </td>
            </tr>
            <tr class="stormfields hidden">
                <td>
                    File Source
                </td>
                <td>
                    <select id="ddlStormFileSource">
                        <option value="Text" selected="selected">Text</option>
                        <option value="URL">URL</option>
                        <option value="File">File</option>
                    </select>
                    <span id="url_to_text_btn" class="hidden">Convert to Text</span>
                </td>
            </tr>
            <tr class="stormfileimport hidden">
                <td style="vertical-align: middle;">
                    Import File
                </td>
                <td>
                    <iframe src="fileUpload.aspx?ref_id=new_template" style="width: 100%; height: 28px;"></iframe>
                </td>
            </tr>
            <tr class="stormfields hidden">
                <td colspan="2">
                    <textarea class="w600px" id="txtStormFile" rows="10"></textarea>
                    <div class="validation">
                        <span id="validate">Validate</span><input type="checkbox" id="chk_reformat" checked="checked" /><label for="chk_format">Format?</label>
                        <pre id="json_parse_msg"></pre>
                    </div>
                </td>
            </tr>
            <tr class="stormfields hidden">
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr class="stormfields hidden">
                <td>
                </td>
                <td style="vertical-align:middle;">
                    <input type="checkbox" id="chkStormRunNow" /><label for="chkStormRunNow">Run Storm Now?</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="delete_dialog" class="hidden" title="Delete Ecosystem Templates">
    Are you sure you want to delete these Ecosystem Templates?
</div>
<div id="export_dialog" class="hidden" title="Export">
    Are you sure you want to export these Ecosystem Templates?
    <p>
        <input id="export_include_tasks" type="checkbox" /><label for="export_include_tasks">Include Action Tasks?</label>
    </p>
</div>
<div id="copy_dialog" class="hidden" title="Copy Ecosystem Template">
    <table width="100%">
        <tr>
            <td>
                New Template Name
            </td>
            <td>
                <input type="text" id="txtCopyEcotemplateName" class="w400px" />
            </td>
        </tr>
    </table>
</div>
