/* -----------------------------------*/
/*           Input Styles             */
/* -----------------------------------*/

/* Forms
----------------------------------------------------------------------------------------------------*/


input
{
	padding: 2px 4px 2px 2px;
	margin: 6px 0px 6px 0px;
	border: solid 1px #C5DBEC;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
}

textarea
{
	overflow: auto;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 0px;
	border: solid 1px #C5DBEC;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: normal;
	font-size-adjust: none;
	font-stretch: normal;
}



.btn_image
{
	border: none;
	margin-top: 4px;
	padding: 1px;
	vertical-align: bottom;
}

.search_text
{
	margin: 0px 0px 4px 0px;
}

input[type="checkbox"]
{
	border: none;
	width: 15px;
	line-height: 36px;
}

select
{
	border: none;
	line-height: 36px;
	margin: 6px 8px 6px 0px;
}
.chkbox
{
	border: none;
}
.chkboxcolumn
{
	text-align: center;
	width: 1px;
}
